.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 750px 1fr;
}

.welcome-img {
  background-image: linear-gradient(to right bottom, rgba(13, 113, 172, 0.8), rgba(11, 72, 107, 0.8)), url(/cover-image.jpg);
  background-size: cover;
}

.main {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

.main > div {
  width: 100%;
  max-width: 400px;
}
